<!DOCTYPE html>
<html>

<head>
    <title>About Page</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <h3>{{Text}}</h3>
        <p>A site to view the forecast of various places!! </p>
        <p> This is a site developed by Anusha A Naik.The site uses data from mapbox.com and darksky.net</p>

        <img class='potrait' src="/images/Anusha.jpg">

    </div>


    {{>footer}}
</body>

</html>