<!DOCTYPE html>
<html>
    <head>
      <title> Error Page </title>  
      <link rel="icon" href="/images/pic.png">
        <link rel="stylesheet" href="./css/styles.css">
        </head>
    <body>
      <div class="main-content">
          {{>header}}
      
      <h3>{{Text}}</h3>

      </div>
   

      {{>footer}}
    </body>
</html>