body{
    color:#333333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width:650px;
    margin:0 auto;
    padding: 0 16px;

    display:flex;
    flex-direction: column;
    min-height:100vh;
}

header{
    color:lightslategrey ;
    font-size:small;
    margin: 14px; 
    padding:14px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom:14px;
  margin-top:26px;

}
footer{
    color:#888888;
    font-style: oblique;
    border-top:1px solid #eeeeee ;
    font-size:small;
    margin-top:14px;

}

h1{

 font-size: xx-large;
 margin-bottom:16px;
 
}
header a{
    color:#888888;
    margin-right: 16px;
    text-decoration : none;

}





.potrait {
    width:250px;
    height:250px;
}

h2 {
     font-style: oblique;
     color : blueviolet;
     
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:firebrick;
    font-size: medium;
}

.main-content{
    flex-grow:1;
}


button{
cursor: pointer;
border:1px solid #888888;background:#888888;color:white;padding:8px;
}

input{
    border:1px solid #cccccc;padding:8px;

}